<form action="/productos/actualizarproducto/{{producto._id}}" method="POST">
    <input type="text" name="nombre" value="{{producto.nombre}}" >
    <input type="number" name="precio" value="{{producto.precio}}">
    <input type="submit" value="actualizar">
</form>