<h1>crear producto</h1>
<form action="/productos/crearproducto" method="POST">
    <input type="text" name="nombre"  placeholder="nombre">
    <input type="number" name="precio" placeholder="precio">
    <input type="submit" value="crear">
</form>